$family-sans-serif: Gilroy, BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

@import '../node_modules/bulma/bulma';

@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Thin.otf");
  font-weight: 100;
}

@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-ThinItalic.otf");
  font-style: italic;
  font-weight: 100;
}

@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-UltraLight.otf");
  font-weight: 200;
}

@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-UltraLightItalic.otf");
  font-style: italic;
  font-weight: 200;
}

@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-LightItalic.otf");
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-RegularItalic.otf");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-MediumItalic.otf");
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Semibold.otf");
  font-weight: 600;
}

@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-SemiboldItalic.otf");
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-BoldItalic.otf");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Extrabold.otf");
  font-weight: 800;
}

@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-ExtraboldItalic.otf");
  font-style: italic;
  font-weight: 800;
}

@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Heavy.otf");
  font-weight: 900;
}

@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-HeavyItalic.otf");
  font-style: italic;
  font-weight: 900;
}